@import "../../../variables.scss";
@import "../common.scss";

.node {
  display: flex;

  .node & {
    font-size: 0.9em;
  }

  &.isCollapsed {
    opacity: 0.5;
  }
}

.splitHeading .nodeHeading {
  padding-left: 20px;
}

.nodeChildren .splitHeading .nodeHeading {
  padding-left: 28px;
}

.nodeChildren .nodeChildren .splitHeading .nodeHeading {
  padding-left: 36px;
}

.nodeChildren .nodeChildren .nodeChildren .splitHeading .nodeHeading {
  padding-left: 44px;
}

.pinnedLeft {
  position: sticky;
  left: 0;
  z-index: 4; /* Ensure pinned cells are above other cells */
  background-color: $bg; /* Or any other background color */
}

.side {
  display: flex;
  flex: 0;
}

.nodeLink {
  text-decoration: none;
  color: $textColor;
}

.nodeHeading {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
  padding-top: 8px;
  width: 400px;
}

.nodeChildren {
  padding-top: 4px;
}

.addPlayerButton {
  border-radius: $borderRadius;
  background: rgba(white, 0.1);
  color: inherit;
  appearance: none;
  border: none;
  font-size: 20px;
  padding: 0;

  &:hover {
    background: rgba(white, 0.2);
  }
}

.addPlayerButtonInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
}

.collapseButton {
  background: rgba(white, 0.2);
  width: 4px;

  border: 0 solid $bg;
  border-width: 0 4px;

  box-sizing: content-box;
  height: 100%;
  appearance: none;
  padding: 0;
  font-size: 0;
  outline: none !important;
  cursor: pointer;
  transition: 150ms ease-in-out all;

  &:hover {
    background: rgba(white, 0.4);
  }
}

.splitHeading {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  transition: background-color 50ms ease-in-out;

  &:hover {
    background-color: $cardColor;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 4px 0;

  &,
  &:hover {
    background-color: $bg;
  }
}

.players {
  display: flex;
  font-size: 14px;
}

.player {
  width: $player-width;

  & + & {
    margin-left: 10px;
  }
}

.nodePointScore {
  font-weight: normal;
  font-size: 13px;
}
